body
{
    background-size: cover;
}

.btn-success:hover{
    background-color: red;
}

#h3{
    font-size: 25px;
}

canvas{
    animation-name: animation1;
    animation-duration:8s;
    animation-iteration-count: infinite;
}

@keyframes animation1
{
    0%{box-shadow:1px 1px 60px red;}
    25%{box-shadow: 1px 1px 60px pink;}
    50%{box-shadow: 1px 1px 60px yellow;}
    75%{box-shadow: 1px 1px 60px rgb(50, 50, 167);}
}